<% extra_data = YAML.load_file("data/#{package.name}.yml") rescue nil %>

<% 
  has_shared_entity = if extra_data
    extra_data["entities"].any?{|e| @entity_groups[e] > 1}
  else
    false
  end
%>

<div class='panel <%= has_shared_entity ? 'panel-success' : 'panel-default' %>'>
  <div class='panel-heading'>
    <h3><%= package.title %></h3>
  </div>
  <div class="panel-body">
    <p>id: <%= package.name %></p>
    <p><%= package.notes %></p>
    <% if extra_data %>
      <p>Entities: <%= extra_data["entities"] %></p>
    <% end %>

    <h2>Resources</h2>
    <table class='table table-striped'>
      <% package.resources.each do |resource| %>
        <%= erb :resource, :locals => {:resource => resource} %>
      <% end %>
    </table>
  </div>
</div>