<% extra_data = YAML.load_file("data/#{package.name}.yml") rescue nil %>

<h1><%= package.title %></h1>
<p>id: <%= package.name %></p>
<p><%= package.notes %></p>
<% if extra_data %>
  <p>Entities: <%= extra_data["entities"] %></p>
<% end %>

<h2>Resources</h2>
<table class='table table-striped'>
  <% package.resources.each do |resource| %>
    <%= erb :resource, :locals => {:resource => resource} %>
  <% end %>
</table>